!!!
/[if IE 8] <html lang="en" class="ie8">
/[if IE 9] <html lang="en" class="ie9">
/ [if !IE]><!
%html{:lang => "en"}
  / <![endif]
  / BEGIN HEAD
  %head
    %meta{:charset => "utf-8"}/
    %title Administração
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "assets/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/bootstrap/css/bootstrap-responsive.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/font-awesome/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/style_responsive.css", :rel => "stylesheet"}/
    %link#style_color{:href => "assets/css/style_default.css", :rel => "stylesheet"}/
    %link#style_metro{:href => "#", :rel => "stylesheet"}/
    %link{:href => "assets/fancybox/source/jquery.fancybox.css", :rel => "stylesheet"}/
    %link{:href => "assets/uniform/css/uniform.default.css", :rel => "stylesheet", :type => "text/css"}/
  / END HEAD
  / BEGIN BODY
  %body.fixed-top
    / BEGIN HEADER
    #header.navbar.navbar-inverse.navbar-fixed-top
      / BEGIN TOP NAVIGATION BAR
      .navbar-inner
        .container-fluid
          / BEGIN LOGO
          %a.brand{:href => "index.html"}
            %img{:alt => "Conquer", :src => "assets/img/logo.png"}/
          / END LOGO
          / BEGIN RESPONSIVE MENU TOGGLER
          %a#main_menu_trigger.btn.btn-navbar.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.arrow
          / END RESPONSIVE MENU TOGGLER
          .top-nav
            / BEGIN TOP NAVIGATION MENU
            %ul#top_menu.nav.pull-right
              %li.divider-vertical.hidden-phone.hidden-tablet
              / BEGIN USER LOGIN DROPDOWN
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-user
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"}
                      %i.icon-user
                      Nome de Usuario
                  %li.divider
                  %li
                    %a{:href => "login.html"}
                      %i.icon-key
                      Sair
              / END USER LOGIN DROPDOWN
            / END TOP NAVIGATION MENU
      / END TOP NAVIGATION BAR
    / END HEADER
    / BEGIN CONTAINER
    #container.row-fluid
      / BEGIN SIDEBAR
      #sidebar.nav-collapse.collapse
        .sidebar-toggler.hidden-phone
        / BEGIN RESPONSIVE QUICK SEARCH FORM
        / END RESPONSIVE QUICK SEARCH FORM
        / BEGIN SIDEBAR MENU
        %ul
          %li
            %a{:href => "index.html"}
              %i.icon-home
              Dashboard
          %li
            %a{:href => "clientes.html"}
              %i.icon-group
              Clientes
          %li.has-sub.active
            %a{:href => "javascript:;"}
              %i.icon-gift
              Promoções
              %span.arrow
            %ul.sub
              %li
                %a{:href => "cartoes.html"} Cartão de Fidelidade
              %li.active
                %a{:href => "novidades.html"} Novidades
          %li.has-sub
            %a{:href => "javascript:;"}
              %i.icon-signal
              Relatórios
              %span.arrow
            %ul.sub
              %li
                %a{:href => "relatorios.html"} 05/08/2013
              %li
                %a{:href => "relatorios.html"} 10/08/2013
        / END SIDEBAR MENU
      / END SIDEBAR
      / BEGIN PAGE
      #body
        / BEGIN PAGE CONTAINER
        .container-fluid
          / BEGIN PAGE HEADER
          .row-fluid
            .span12
              %h3.page-title
                Promoções
              %ul.breadcrumb
                %li
                  %i.icon-home
                  %a{:href => "index.html"} Dashboard
                  %span.icon-angle-right
                %li
                  %a{:href => "novidades.html"} Novidades
                  %span.icon-angle-right
                %li Cadastrar
          / END PAGE HEADER
          / BEGIN PAGE CONTENT
          .row-fluid
            .span12
              / BEGIN SAMPLE FORM widget
              .widget
                .widget-title
                  %h4
                    %i.icon-gift
                    Cadastrar Novidade
                  %span.tools
                    %a.icon-chevron-down{:href => "javascript:;"}
                    %a.icon-refresh{:href => "javascript:;"}
                .widget-body.form
                  / BEGIN FORM
                  %form.form-horizontal{:action => "#"}
                    .control-group
                      %label.control-label Notícia
                      .controls
                        %textarea.span6.popovers{"data-content" => "Descreva sua notícia utilizando até 150 caracteres", "data-original-title" => "Atenção", "data-trigger" => "hover", :rows => "3", :type => "text"}
                    .form-actions
                      %button.btn.btn-success{:type => "submit"} Cadastrar
                      %button.btn{:type => "button"} Cancelar
                  / END FORM
              / END SAMPLE FORM widget
          / END PAGE CONTENT
        / END PAGE CONTAINER
      / END PAGE
    / END CONTAINER
    / BEGIN FOOTER
    #footer
      2013 &copy; Ligoo Card - Administração
      .span.pull-right
        %span.go-top
          %i.icon-arrow-up
    / END FOOTER
    / BEGIN JAVASCRIPTS
    / Load javascripts at bottom, this will reduce page load time
    %script{:src => "assets/js/jquery-1.8.3.min.js"}
    %script{:src => "assets/bootstrap/js/bootstrap.min.js"}
    %script{:src => "assets/js/jquery.blockui.js"}
    / ie8 fixes
    /[if lt IE 9]
      <script src="assets/js/excanvas.js"></script>
      <script src="assets/js/respond.js"></script>
    %script{:src => "assets/uniform/jquery.uniform.min.js", :type => "text/javascript"}
    %script{:src => "assets/data-tables/jquery.dataTables.js", :type => "text/javascript"}
    %script{:src => "assets/data-tables/DT_bootstrap.js", :type => "text/javascript"}
    %script{:src => "assets/js/app.js"}
    :javascript
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         App.init();
      });
     / END BODY
