= javascript_include_tag "coupons"
.row-fluid
  .span12
    %h3.page-title
      Dashboard
    %ul.breadcrumb
      %li
        %i.icon-home
        = link_to 'Dashboard', establishment_index_path

.row-fluid
  .span12
    .widget
      .widget-title
        %h4
          %i.icon-check
          Validação de cupons
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body
        .validate_coupon
          .form-horizontal
            .control-group
              %label.control-label Buscar cupom:
              .controls
                .input-append
                  = text_field_tag :coupon
                  %button#search_coupon.btn
                    %i.icon-search
          #coupon_info