.row-fluid
  .span12
    %h3.page-title
      Promoções
    %ul.breadcrumb
      %li
        %i.icon-home
        = link_to 'Dashboard', admin_index_path
        %span.icon-angle-right
      %li
        = link_to "Estabelecimentos", establishments_path
        %span.icon-angle-right
      %li Editar
/ END PAGE HEADER
/ BEGIN PAGE CONTENT
.row-fluid
  .span12
    / BEGIN SAMPLE FORM widget
    .widget
      .widget-title
        %h4
          %i.icon-gift
          Editar estabelecimento
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();;"}
      .widget-body.form
        = render 'form'